---
import Section from "../Section.astro";
import { type Year } from "../../types/";

interface Props {
	university: string;
	carreer: string;
	startYear: Year;
	endYear: Year;
}

const { university, carreer } = Astro.props as Props;
---

<Section title="Educación">
  <ul>
    <li>
      <article>
        <header>
          <div>
            <h3>
              {university}
            </h3>
            <h4>{carreer}</h4>
          </div>
        </header>
      </article>
    </li>
  </ul>
</Section>
<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    margin-top: 1em;
  }

  article h3 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  article header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  article p {
    color: white;
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
    text-indent: 0%;
  }

  footer {
    margin: 0;
  }
</style>
