---
/**
 * Basado en el repositorio https://github.com/ttomczak3/Milky-Way
 */

import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/sections/Experience.astro";
import AboutMe from "../components/sections/AboutMe.astro"
import Education from "../components/sections/Education.astro";
---

<Layout title="Eacuna" description="Portafolio">
  <section>
    <!--
		  Esto o una portada
	  <div class="gif">
      <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
    </div>
	  -->
    <h1 class="text-wrap">Edwin Acuña Montero</h1>
    <span class="badge">Desarrollador Full-Stack</span>
    <AboutMe />
    <!-- <div class="center"> -->
    <!--   <a href="/works/" class="btn">Portafolio</a> -->
    <!-- </div> -->
    <Experience />
    <Education 
      university={"Universidad de Costa Rica"}
      carreer={"Bachillerato en Informática Empresarial"}
      startYear={"2017"}
      endYear={"2022"}
    />
    <Skills />
  </section>
</Layout>
