---
const year = new Date().getFullYear();
---

<footer>
  <div class="center">
    <small>
      &copy; {year} Eacuna por <a
        class="footer_link"
        target="_blank"
        href="https://github.com/Edwin-AM">Edwin Acuña M</a
      >. Todos los derechos reservados.</small
    >
  </div>
</footer>
<style>
  footer {
    margin: 4rem 0;
  }

  .footer_link {
    color: #78c2ad;
    text-decoration: none;
  }

  .footer_link:hover {
    text-decoration: underline;
  }

  /* Asegura que el texto en el footer se vea bien */
  small {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #777;
  }
</style>
