---
import { Image } from "astro:assets";
import type { Skill } from "@/types";

const skills: Skill[] = [
	{
		width: 46,
		height: 46,
		alt: "Vue.js",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg",
	},
	{
		width: 46,
		height: 46,
		alt: "React",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg",
	},
	{
		width: 46,
		height: 46,
		alt: "Next.js",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg",
	},
	{
		width: 46,
		height: 46,
		alt: "Astro",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg",
	},
	{
		width: 46,
		height: 46,
		alt: "MySQL",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg",
	},
	{
		width: 46,
		height: 46,
		alt: "TypeScript",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg",
	},
	{
		width: 46,
		height: 46,
		alt: "Git",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg",
	},
	{
		width: 46,
		height: 46,
		alt: "Neovim",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/neovim/neovim-original.svg",
	},
	{
		width: 46,
		height: 46,
		alt: "Fedora",
		url: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fedora/fedora-original.svg",
	},
];
---

<h2>Habilidades</h2>
<div class="flex flex-wrap gap-2 mt-4">
  {
    skills.map((skill) => (
      <Image
        class="w-11 h-11"
        width={skill.width}
        height={skill.height}
        alt={skill.alt}
        src={skill.url}
        loading="lazy"
      />
    ))
  }
</div>
